{% extends "base.html" %}
{% load static %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'styles/member/table.css' %}">
    <link rel="stylesheet" href="{% static 'styles/member/bar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/member/modal.css' %}">
    <link rel="stylesheet" href="{% static 'styles/member/modal_ele.css' %}">

{% endblock styles %}

{% block title %}

    Add Member

{% endblock title %}

{% block content %}

<!-- The Modal -->
<div id="Ajouter" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closeModel()" >&times;</span>
      
        <form action="{% url 'Account:memberInfo' 'add' %}" method = 'POST' id='ajouter_member_form'>
        {% csrf_token %}

            {{ form.email.label }}
            {{ form.email }}
            
            {{ form.userType.label }}
            {{ form.userType }}

            <div class = "ajouter"   >
                <button type = 'submit' > Ajouter </button>
            </div>
            
        </form>

    </div>
  
</div>

<!-- The Modal -->
<div id="order" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closeModel()" >&times;</span>
      
        <label> Sort By </label>
        <select class='member_select' name="cars" id="cars">
            <option value="date">Date</option>
            <option value="email">E-mail</option>
            <option value="userType">Type d'utilisateur </option>
            <option value="status ">Statut</option>
        </select>
        
        <label> Order </label>
        <select class='member_select' name="cars" id="cars">
            <option value="Ascendant">Ascendant </option>
            <option value="Descendant">Descendant </option>
        </select>

        <div class = "ajouter">
            <button  onclick='orderButton(event)'> Ok </button>
          </div>

    </div>
  
</div>

<!-- The Modal -->
<div id="co_encadrant" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" onclick="closeModel()" >&times;</span>

      
        <label for="memberEmail_email"> Email </label>
        <input id='memberEmail_email' type="text" class="form-control" placeholder="Email">

        <div class="form-group">
            <label for="relationtype_input"> type de relation  </label>
            <select class="form-control" id="relationtype_input">
                <option value = '0' >Encadrant</option>
                <option value = '1' >Co.Encadrant</option>
            </select>
        </div>


        <div class = "ajouter">
            <button  onclick='member_associate(event)'> Ajouter Relation </button>
        </div>

        <div class="box-footer box-comments" style="display: block;">
            <p>
                <a class='cmment_collapse' data-toggle="collapse" href="#collapseExample_{{ post.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                Liste des relations 
                </a>
            </p>
                <div class="collapse" id="collapseExample_{{ post.id }}" >
                
                    <div id="list_relation_section" class="card card-body">

                        {% include "Registration/include/list_relations.html" with relations=relations %}
                    
                    </div>

                </div>

        </div>

    </div>
  
</div>



</form>

<div class="row">

    <div class = 'top_bar' >
        <div class="search__container">
            <input id = 'member_search_input' class="search__input" type="text" placeholder="Search" value = ''>
            <button class="filter" onclick="openModel(self, 'order')" > <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> </button>
        </div>

        <div class = "add" onclick="openModel(event, 'Ajouter')">
            <button> Ajouter </button>
        </div>
        
    </div>
    
    
    <table class="table table-responsive-xl t">

        <thead>

            <tr>
                
                <th>Email</th>
                <th>Status</th>
                <th>&nbsp;</th>

            </tr>


        </thead>

        <tbody id = 'member_content'>




        
        </tbody>

    </table>

    <div id='error_js' ></div>

</div>



{% endblock content %}

{% block scripts %}
<script>
    USER_EMAIL = "{{ request.user.email }} ";
    URL_MEMBER_DATA = "{% url 'Account:memberInfo' 'memberList' %}"
    URL_MEMBER_DEACTIVATE = "{% url 'Account:memberInfo' 'deactivate' %}"
    URL_MEMBER_DELETE = "{% url 'Account:memberInfo' 'delete' %}"
    URL_MEMBER_ACCOUNT = "{% url 'Account:memberInfo' 'account' %}"
    URL_MEMBER_GET_RELATION = "{% url 'Account:memberInfo' 'relations' %}"
    URL_MEMBER_ASSOCIER = "{% url 'Account:memberInfo' 'associate' %}"
    URL_MEMBER_DELETE_RELATION = "{% url 'Account:memberInfo' 'deleteRelation' %}"
</script>
<script src="{% static 'scriptes/member/modal.js' %}" > </script>
<script src="{% static 'scriptes/member/imageclick.js' %}" > </script>
<script src="{% static 'scriptes/member/member.js' %}" > </script>


{% endblock scripts %}




