{% extends "register.html" %}

{% block title %}

    Check Email

{% endblock title %}


{% block content %}

    <div class = 'error' > {{ form.errors }} </div>
    

    <form action="." method = 'POST' >{% csrf_token %}
        
        {% for field in form %}
         <div class="user-box">
         
           
            {{ field }}
            <label>{{ field.label }}</label> 
         </div>
            
            
        {% endfor %}

        <button type = 'submit' > Register </button>
    
    </form>

  

    


{% endblock content %}