{% extends "register.html" %}

{% block title %}

    Log in

{% endblock title %}


{% block content %}

   
     <form action="." method = 'POST' >{% csrf_token %}
        
        {% for field in form %}
         <div class="user-box">
         
           
            {{ field }}
            <label>{{ field.label }}</label> 
         </div>
            
            
        {% endfor %}

        <button type = 'submit' > Register </button>
    
    </form>

    <a href="{% url 'Account:checkEmail' %}"> Register </a>

    <div>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>


{% endblock content %}