{% extends "base.html" %}

{% block title %}

    Add Member

{% endblock title %}


{% block content %}

  <h1> Add Member </h1>
   

    <form action="." method = 'POST' >
    {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            
        {% endfor %}

        <button type = 'submit' > Register </button>
    
    </form>

    <hr>
    <hr>

    {% for member in members %}
        {{ member.email}}
        {{member.userType}}
        {{member.signed}}
        {{member.date}}
        {{member.date.time}}
        <br>
    {% endfor %}


{% endblock content %}