{% extends "base.html" %}

{% block title %}

    RegisterDoctorant

{% endblock title %}


{% block content %}

    <div> {{ form.errors }} </div>
    <form action="." method = 'POST' >{% csrf_token %}
        {% for field in form1 %}
            
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            
        {% endfor %}

        {% for field in form2 %}
            
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            
        {% endfor %}

        <button type = 'submit' > RegisterDoctorant </button>
    
    </form>


{% endblock content %}