{% extends "register.html" %}

{% block title %}

    RegisterEncadrant

{% endblock title %}


{% block content %}

    <div> {{ form.errors }} </div>
    <form action="." method = 'POST' >{% csrf_token %}
        
        {% for field in form1 %}
         <div class="user-box">
         
           
            {{ field }}
            <label>{{ field.label }}</label> 
         </div>
            
            
        {% endfor %}

        {% for field in form2 %}
         <div class="user-box">
         
           
            {{ field }}
            <label>{{ field.label }}</label> 
         </div>
            
            
        {% endfor %}

        <button type = 'submit' > Register </button>
    
    </form>


{% endblock content %}