{% extends "register.html" %}
{% load widget_tweaks %}


{% block title %}

    RegisterDoctorant

{% endblock title %}


{% block content %}

    
    <div class='center_horizontal' >

        <div class="form_box">


            {% if form1.errors|length != 0 or form2.errors|length != 0 %}
                
                <div class = 'error_box'>
                
                    {% for key, value in form1.errors.items  %}
                        <div>{{value}}</div>
                    {% endfor %}
                    {% for key, value in form2.errors.items  %}
                        <div>{{value}}</div>
                    {% endfor %}
                </div>

            {% endif %}

            {% comment %} {% if messages|length != 0 %}
                
                <div class = 'error_box'>
                    {% for message in messages %}
                        <div>{{message}}</div>
                    {% endfor %}
                </div>

            {% endif %} {% endcomment %}
            
    

    
            <form action="." method = 'POST' >{% csrf_token %}
                
                {% for field in form1 %}

                    <div class="form__group field">
 
                        {% render_field field placeholder=field.name  %}
                        <label >{{field.label}}</label>
                        
                    </div>
                
                {% endfor %}

                {% for field in form2 %}

                    <div class="form__group field">
 
                        {% render_field field placeholder=field.name  %}
                        <label >{{field.label}}</label>
                        
                    </div>
                
                {% endfor %}

                {% for k, v in form2.university.items %}
                    <label value="{{ k }}">{{ v }}</label>
                {% endfor %}


               
                

                <div class='gap' ></div>

                <button class="primiry_btn" type = 'submit' >  Register </button>
                
            
            </form>


        </div>

    
    </div>


{% endblock content %}