.theAlert {
    position: fixed;
    bottom: 20px;
    width: 80%;
    left: 50%;
    transform: translate(-45%, 0%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    display: none;
    z-index: 99999;
  }
  
.theAlert.success {background-color: #04AA6D;}
.theAlert.info {background-color: #2196F3;}
.theAlert.warning {background-color: #ff9800;}

.theAlert .closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.theAlert .closebtn:hover {
color: black;
}