
.container_co{
    width : 100%;
}



/* Remove margins and padding from the list */
.list_item {
    margin: 0;
    padding: 0;
}

/*===============================================================*/

/* Style the header */
.container_co_header {
    display: flex;
    width: 100%;
}

/* Clear floats after the header */
.container_co_header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
.co_input {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 14px;
}

/*===============================================================*/
/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 20%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

/*===============================================================*/
/* Style the close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    
}

.close:hover {
    background-color: #f44336;
    color: white;
}








