#myBtn3, #myBtn1{
  background-color: #f7f5f8;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
}


.bib_item button {
transition-duration: 0.3s;
}

#myBtn3:hover {
  background-color: rgb(224, 22, 22);
  color: azure;
}
#myBtn1:hover {
  background-color: rgb(37, 4, 75); 
  color: azure;
}
#myBtn1 a:hover{
color: white;
}