.type-F{
    width: 250px;
    height: 100%;
}
  
/*====================================*/

.autocomplete {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0 15px;
}
  
.autocomplete input{
    height: 100%;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*====================================*/

.button_submit, .butt-aj{
    background-color: rgb(42, 7, 75);
    padding: 10px ;
    color: white;
    border: none;
    width: 150px;
    margin: 0 10px;
}

.button_submit:hover, .butt-aj:hover{
    background-color: #310866;
}

.butt-aj{
    padding: 0;
    display: flex;
}

.butt-aj a{
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
}



  
  