{% load static %}
{% load svg %}

<header class="header" id="header">
    <div class="header_toggle"> <i class='fa fa-bars' id="header-toggle"></i> </div>

    <div class="user_name"> 
        <span class="nav_logo-name">
        
            {{ title_section }}
        
        </span> 
    </div>
    
    <div class="user_account"> 


     
          

        <span class="nav_logo-name user_name">
        {{ request.user.first_name }} {{ request.user.last_name }}
        </span>
        
        <div class="header_img"> 
        {% if request.user.profile_image %}
            <img src="{{ request.user.getImage }}" alt="">
        {% else %}
            <img src="/media/profile_images/default/default_profile_image.png" alt="">
        {% endif %}
            
        </div> 
        

        <div class="btn-group drop_airrow">

          <a  > 
        
            <i class="fa fa-caret-down nav_logo-icon" aria-hidden="true"></i>                
            
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'Account:updateAccount' 'encadrant' request.user.id %}">Account</a>
            <a class="dropdown-item" href="{% url 'Account:logout' %}">Logout</a>
          </div>

         
        </div>

        

    </div>
    
    

</header>