{% load static %}
{% load svg %}

<header class="header" id="header">
    <div class="header_toggle"> <i class='fa fa-bars' id="header-toggle"></i> </div>

    <div class="user_name"> 
        <span class="nav_logo-name">
        
            {{ title_section }}
        
        </span> 
    </div>
    
    <div class="user_account"> 


     
          

        <span class="nav_logo-name user_name">
        {{ request.user.getFullName }}
        </span>
        
        <div class="header_img"> 
        <img src="{{ request.user.getImage }}" alt="">
            
        </div> 
        

        <div class="btn-group drop_airrow">

         



        <div class="btn-group drop_airrow box-tools my_btn_group_menu_bar">

          <div class="dropdown">
            
            <button type="button" class="btn btn-box-tool" data-toggle="dropdown">
              <i class="fa fa-caret-down nav_logo-icon" aria-hidden="true"></i> 
            </button>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'Account:updateAccount' request.user.id %}">Compte</a>
              <a class="dropdown-item" href="{% url 'Account:logout' %}">Se déconnecter </a>
            </div>

          </div>
         
        </div>

          

         
        </div>

        

    </div>
    
    

</header>