{% load static %}
{% load svg %}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> 
            
            <a href="{% url 'Account:home' %}" class="nav_logo"> 
                <i class="fa fa-graduation-cap nav_logo-icon" aria-hidden="true"></i>
                <span class="nav_logo-name">Lab</span> 
                <hr>
            </a>


            <div class="nav_list">



                <a href="{% url 'Account:home' %}" class="nav_link {{ home_active }}"> 
                    <i class="fa fa-home nav_icon" aria-hidden="true"></i>

                    <span class="nav_name">Home</span> 
                </a>
                
                <a href="{% url 'Biblio:information' %}"  class="nav_link {{ biblio_active }}"> 
                    <i class="fa fa-book nav_icon" aria-hidden="true"></i>

                    <span class="nav_name">Bibliothéque</span> 
                </a>


                {% if request.user.isAdmin %}
                    <a href="{% url 'Account:addMember' %}"  class="nav_link {{ addMember_active }}"> 
                        <i class="fa fa-address-book nav_icon" aria-hidden="true"></i>
                        <span class="nav_name">Ajouter Membre</span> 
                    </a> 
                {% endif %} 
                
            </div>
        </div> 
        <a href="{% url 'Account:logout' %}" class="nav_link"> 
            <i class='fa fa-sign-out nav_icon'></i> 
            <span class="nav_name">SignOut</span> 
        </a>

    </nav>
</div>