{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Bibliothéque
{% endblock title %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'styles/bib/co_input.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bib/ajouter.css' %}">

{% endblock styles %}

{% block content %}

 

    {% if form.errors|length != 0 %}
        
        <div class = 'error_box'>
        
            {% for key, value in form.errors.items  %}
                <div>{{value}}</div>
            {% endfor %}

        </div>

    {% endif %}

        


<form class="ajouter_bib_form" action="." method = 'POST' enctype="multipart/form-data" >
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">


        {% if field.name == 'co_auteur' %}
            <label for="{{field.name}}">{{field.label}}</label>
            {% render_field field id=field.name class="form-control" placeholder=field.name hidden="" %}
            <div class="container_co">
                <div id="myDIV" class="container_co_header">
                    <input class='co_input' type="text" id="myInput" placeholder="Title...">
                    <span onclick="newElement()" class="addBtn btn btn-primary">Add</span>
                </div>

                <ul class='list_item' id="myUL">
                </ul>
            </div>
        {% else %}
        {% if field.name == 'date' %}
            <label for="{{field.name}}">{{field.label}}</label>
            {% render_field field id=field.name class="form-control" placeholder=field.name type='date' %}
        {% else %}
            <label for="{{field.name}}">{{field.label}}</label>
            {% render_field field id=field.name class="form-control" placeholder=field.name  %}
        {% endif %}
            
        {% endif %}
            

        </div>

    {% endfor %}


    <button type="submit" class="btn btn-primary btn_post">Submit</button>
</form>


  







{% endblock content %}



{% block scripts %}
<script type="application/javascript" src="{% static 'scriptes/bib/add_coauteur.js' %}"></script>
{% endblock scripts %}
















