{% extends "base.html" %}
{% load static %}


{% block title %}
    bibliotheque
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static  'styles/bib/empty_bib.css' %}">



    <div class="log_empty_bib" >

        <img  src="{% static 'resources/images/logo-scale.png' %}" />
        <div class='para'>
              <pre>Espace Bibliothéque</pre> 
        </div>
        <a class="primiry_btn" href="{% url 'Biblio:formulaire' %}" > Ajouter </a>

    </div>



{% endblock content %}


