{% extends "base.html" %}
{% load static %}


{% block title %}
    bibliotheque
{% endblock title %}


{% block styles %}

    <link rel="stylesheet" href="{% static  'styles/bib/page_biblio.css' %}">
    <link rel="stylesheet" href="{% static  'styles/bib/sugestion.css' %}">
    <link rel="stylesheet" href="{% static  'styles/bib/bib.css' %}">

{% endblock styles %}



{% block content %}

<div class="d-flex justify-content-between" >


<form autocomplete="off" action="{% url 'Biblio:information' %}">
    <div class="form-group search_form">

        <select name="searchType" onchange="setSearchType(event)" class="form-control type-F">
            <option value="auteur">Auteur</option>
            <option value="titre">Titre</option>
            <option value="journal">Journal</option>
            <option value="doi">DOI</option>
            <option value="issn">ISSN</option>
        </select>
        <div class="autocomplete">
            <input class="form-control" id="myInput" type="text" name="mySearch" placeholder="search">
        </div>
        <button class="form-control button_submit" id = "button-submit" type="submit">Recherche</button>

        
    </div>
</form>

<div>

</div>

    <button class='form-control butt-aj' >
    
        <a href="{% url 'Biblio:formulaire' %}" > Ajouter </a>
    </button>
  


</div>

<!--Make sure the form has the autocomplete function switched off:-->


    {% for i in formulaires %}


<div id="accordion">

    <div class="card bib_item ">
    
        <div class="card-header" id="headingOne">

            <div class = "mt-3 float-left" >
            
                <button width="100%" class="btn btn-link title_btn" data-toggle="collapse" data-target="#collapseOne_{{i.id}}" aria-expanded="false" aria-controls="collapseOne_{{i.id}}">
                    <h3> 
                        {{ i.titre }} 
                        <small class="form-text text-muted type_pub">
                        ({{ i.type_pub }})
                        </small> 
                    </h3>    

                    <a class="pull-right" href="{{i.getLien}}">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>  
                </button>

                

            </div>

            <div class="float-right" >
                          
            </div>


        
        </div>

        <div id="collapseOne_{{i.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

                
                <ul class="list-group" >
                    <li class="list-group-item" >Journal : {{ i.journal }}</li>
                    <li class="list-group-item" >Auteurs : {{i.getAuteur}} , {{i.get_coAuteur}}</li>
                    <li class="list-group-item" > DOI : {{i.doi}}</li>
                    <li class="list-group-item" >Volume : {{i.volume}}</li>
                    <li class="list-group-item" >Pages : {{i.pr_page}}-{{i.der_page}}</li>
                    <li class="list-group-item" >Publisher : {{i.publisher}}</li>
                    <li class="list-group-item" >Date : {{i.date}}</li>
                    <li class="list-group-item" >ISSN : {{i.issn}}</li>
                
                </ul>

                

                <div class="buttons_detail" >
                
                {% if request.user.isAdmin or request.user.isEncadrant %}
                    <form id="deleteform" method="POST" action="{% url 'Biblio:deleteFormulaire' i.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" id="myBtn3"> supprimer </button>
                    </form>
                {% endif %}
                    
                    <button class="btn btn-dark" id="myBtn1"><a href="{% url 'Biblio:update' i.id %}">modifier</a></button>
               
                </div>

            </div>
        </div>


    </div>

</div>










 

{% endfor %}



{% endblock content %}


{% block scripts %}
<script type="application/javascript" src="{% static 'scriptes/bib/formulaire.js' %}"></script>
<script type="application/javascript" src="{% static 'scriptes/bib/sugestion.js' %}"></script>
{% endblock scripts %}

