{% extends "base.html" %}
{% load static %}


{% block title %}
    bibliotheque
{% endblock title %}

{% block content %}
   <link rel="stylesheet" href="{% static  'styles/page_biblio.css' %}">
    <script src="{% static 'scriptes/formulaire.js' %}" > </script>


    {% for i in formulaires %}
    <div class='bib_item' >
        <p> {{ i.titre }} <br>
            {{ i.type_pub }} <br>
        <span id="dots" class="c_dots">...</span>
        
        <span id="more" class="c_more">
        <a href="{{i.getLien}}">{{ i.getName }}</a> <br>
        {{i.issn}} <br>
        {{i.publisher}} <br>
         </span></p>
        
        <button onclick="myFunction(event)" id="myBtn">Read more</button>
    </div>
    {% endfor %}



{% endblock content %}


