{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fichier</title>
    <link rel="stylesheet" href="{% static 'styles/bib/biblio_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bib/co_input.css' %}">
</head>
<body>
    <div>

        <div>
            {{ form.errors }}
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="container_co">
                <div id="myDIV" class="header">
                    <input class='co_input' type="text" id="myInput" placeholder="Title...">
                    <span onclick="newElement()" class="addBtn">Add</span>
                </div>

                <ul class='list_item' id="myUL">
                </ul>
            </div>


            <button type="submit">save</button>


        </form>


    </div>





</body>
</html>

{% block script %}
<script src="{% static 'scriptes/bib/add_coauteur.js' %}"></script>
{% endblock script %}














