{% load static %}
{% load svg %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'styles/base/menu.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base/bell.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base/alert.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base/poppup_menu.css' %}">


    {% block styles %}
    
    {% endblock styles %}



    <title>
        {% block title %}
        laboratoire de recherche
        {% endblock title %}
    </title>
</head>


<body id="body-pd" style="background-color: #f8f9fa;">


    {% include "General/menu.html" %}
    {% include "General/slide_bar.html" %}


    <!--Container Main end-->
    <div class="height-100 bg-light">
        {% block content %}

        {% endblock content %}
    </div>

    
{% comment %} for error and notification {% endcomment %}
    <div id='alter_pupup' class="theAlert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    </div>


</body>

<script src="{% static 'scriptes/jquery-3.6.0.min.js' %}" > </script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="{% static 'scriptes/script.js' %}" > </script>
<script src="{% static 'scriptes/base/js.js' %}" > </script>
<script src="{% static 'scriptes/base/alert.js' %}" > </script>
<script src="{% static 'scriptes/base/pupopMenu.js' %}" > </script>
<script src="{% static 'scriptes/base/menuScript.js' %}" > </script>

{% block scripts %}

{% endblock scripts %}


</html>