#more {display: none;
}
.bib_item{
	border: 0px solid black;
	display: inline-block;
	width: 65%;
	box-shadow: inset 0 0 1em rgb(178, 178, 180),0 0 2em rgb(35, 35, 36);
  margin: 40px 120px;
}
#myBtn {
	float: right;
	margin: 5px;

}
.bib_item p{
	text-align: center;
  color: black;
}
#myBtn{
    background-color: #f7f5f8;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.bib_item button {
    transition-duration: 0.3s;
  }
  
#myBtn:hover {
    background-color: rgb(20, 1, 99);
    color: azure;
  }