#more {display: none;
}
.bib_item{
	border: 0px solid black;
	display: inline-block;
	width: 65%;
	box-shadow: 4px 5px rgba(13, 13, 14, 0.1);
  margin: 40px 90px;
}
#myBtn {
	float: right;
	margin: 5px;
}
.bib_item p{
	text-align: center;
  color: black;
}
#myBtn{
    background-color: #f7f5f8;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
}
.bib_item button {
    transition-duration: 0.3s;
  }
  
#myBtn:hover {
    background-color: #28232bad;
    color: azure;
  }