#barre ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #d8d8d8;
}
#barre ul li{
    float: left;
}
.l1 li a{
    display: inline-block;
    color: rgba(14, 11, 11, 0.938);
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
}
.l1 li a:hover {
    background-color: rgb(255, 255, 255);
}
.menu{
    width: 100%;
    overflow: auto;
}

.menu ul{
    margin: 20px;
    padding: 0px;
    list-style: none;
    line-height: 60px;
}

.menu li{
    float: right;
}

.menu ul li button{
    text-decoration: none;
    width: 120px;
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 25px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 20;
    border: 0px;
    font: bold 14px Arial,Helvetica,Sans-serif;
    color: white;
}
#cl1{
    background: brown;
}
#cl2{
    background:navy;
}

#searchbox {
   
    width: 600px;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 50px;
    float: left;
    }
    
    input:focus::-webkit-input-placeholder {
    color: transparent;
    }
    
    input:focus:-moz-placeholder {
    color: transparent;
    }
    
    input:focus::-moz-placeholder {
    color: transparent;
    }
    
    #searchbox input {
    outline: none;
    }
    
    #searchbox input[type= "text"] {
    background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 6px #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(168, 163, 163);
    font: bold 15px Arial,Helvetica,Sans-serif;
    color:black;
    width: 70%;
    padding: 8px 15px 8px 30px;
    }
    
    #button-submit {
    background: #6A6F75;
    border-width: 0px;
    padding: 11px 0px;
    width: 20%;
    cursor: pointer;
    font: bold 13px Helvetica;
    color: #fff;
   
    }
    
    #button-submit:hover {
    background: #4f5356;
    }
    
    #button-submit:active {
    background: #5b5d60;
    outline: none;
    }
     
    #button-submit::-moz-focus-inner {
    border: 0;
    }

    table,td,th{
        border: 1px solid black;
        border-collapse: collapse;
    }
    table{
        margin-left: 80px;
    }
    td{
        padding: 5px;
    }
    th{
        text-align: left;
    }

    .wid{
        width: 33%;
    }