{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}

    Changement de password

{% endblock title %}


{% block styles %}

    <link rel="stylesheet" href="{% static 'styles/base/account.css' %}">

{% endblock styles %}


{% block content %}

    

    {% if form.errors|length != 0 %}
        
        <div>

            {% for key, value in form.errors.items  %}
                <div class='alert alert-danger' >{{value}}</div>
            {% endfor %}

        </div>

    {% endif %}

    {% if messages|length != 0 %}
        
        <div>
            {% for message in messages %}
                <div class = 'alert alert-success' > {{message}} </div>
            {% endfor %}
        </div>

    {% endif %}

        

    <form class="post_form" action="." method = 'POST' >
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">


                
            <label for="{{field.name}}">{{field.label}}</label>
            {% render_field field id=field.name class="form-control" placeholder=field.label  %}


        </div>

    {% endfor %}

 
    
    <button type="submit" class="btn btn-primary btn_post">Changer</button>




    </form>



{% endblock content %}