{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}

    Doctorant Account

{% endblock title %}


{% block styles %}

    <link rel="stylesheet" href="{% static 'styles/base/account.css' %}">

{% endblock styles %}


{% block content %}

    

    {% if form1.errors|length != 0 or form2.errors|length != 0 %}
        
        <div class = 'error_box'>
        
            {% for key, value in form1.errors.items  %}
                <div>{{value}}</div>
            {% endfor %}
            {% for key, value in form2.errors.items  %}
                <div>{{value}}</div>
            {% endfor %}
        </div>

    {% endif %}

        

    <form class="post_form" action="." method = 'POST' enctype="multipart/form-data" >
    {% csrf_token %}

    {% for field in form1 %}
        <div class="form-group">

            {% if field.name != 'profile_image' %}
                
                <label for="{{field.name}}">{{field.label}}</label>
                {% render_field field id=field.name class="form-control" placeholder=field.name  %}
                
            {% else %}

            <label class="filebutton">
                <img class="img-responsive" src={{ form1.instance.profile_image.url }} />
                <span> {{ field }} </span>
            </label>

            {% endif %}

        </div>

    {% endfor %}

    {% for field in form2 %}

        <div class="form-group">
        <label for="{{field.name}}">{{field.label}}</label>
        {% render_field field id=field.name class="form-control" placeholder=field.name  %}
        </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary btn_post">Submit</button>



    {% if request.user.id == userId %}
    
    <a href="{% url 'Account:changePassword' userId %}" class="link-primary float-right"> Change Password </a>

    {% endif %}

    </form>



{% endblock content %}